@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme inline {
  --font-sans: var(--font-inter);
  --font-serif: var(--font-cormorant);
  
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-border: var(--border);
}

@custom-variant dark (&:is(.dark *));

@layer base {
  :root {
    --background: #FAFAFA;
    --foreground: #1F2937;
    --muted: #F3F4F6;
    --muted-foreground: #6B7280;
    --border: #E5E7EB;
  }

  .dark {
    --background: #0F172A;
    --foreground: #F8FAFC;
    --muted: #1E293B;
    --muted-foreground: #94A3B8;
    --border: #334155;
  }
}

@layer base {
  body {
    background-color: var(--background);
    color: var(--foreground);
    @apply antialiased transition-colors duration-300;
  }
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}
::view-transition-old(root) {
  z-index: 1;
}
::view-transition-new(root) {
  z-index: 2;
}
